{% extends "lulu_alerts/layout.html" %}
{% load static %}
{% block nav_item_home %} active {% endblock nav_item_home %}

{% block body %}
<div class="container text-center mt-3">
    <h1 style="color:#661FFF;"><b>Checking lululemon.com again?</b></h1>
    <h3>Stop refreshing and start scoring lulu with <b> back in stock </b> and <b>price drop </b> notifications delivered to your inbox as soon as they happen</h3>
    <div class="d-grid gap-2 col-5 mx-auto pt-3">
        <a href="{% url 'lulu_alerts:signup' %}" class='btn btn-primary'>Sign up FREE!</a><a href="{% url 'lulu_alerts:login' %}" class ='btn btn-outline-primary'>Login</a>
    </div>
</div>
<!-- NEW! image test -->
<div style="margin-top:-2%; overflow-x:hidden;">
    <picture>
        <source media="(min-width:760px)" srcset="{% static 'lulu_alerts/clothesfall_lg.png' %}">
        <source media="(min-width:450px)" srcset="{% static 'lulu_alerts/clothesfall_sm.png' %}">
        <img src="{% static 'lulu_alerts/clothesfall_sm.png' %}" class="img-fluid" style="max-width: 101%;">
    </picture>
</div>
<div style="background-color:#661FFF; margin-top:-1%;">
    <div class ="container rounded pt-5">
        <div class="row my-2">
            <div class="col">
                <h2 style="color:white;">How it works</h2>
            </div> 
        </div>
        <div class="row">
            <div class="container pt-3 pb-3 mb-5 rounded text-center" style="background-color:white;">
                <div class="row pb-3">
                    <div class="col-4">
                        <img src="{% static 'lulu_alerts/usercircle.png' %}" class= "img-fluid" style="height:auto; max-width:40%;">
                    </div>
                    <div class="col-4">
                        <img src="{% static 'lulu_alerts/notifbell.png' %}" class= "img-fluid" style="height:auto; max-width:40%;">
                    </div>
                    <div class="col-4">
                        <img src="{% static 'lulu_alerts/heart.png' %}" class= "img-fluid" style="height:auto; max-width:40%;">
                    </div>
                </div>
                <div class="row align-items-top">
                    <div class="col">
                        Sign up for an account </br></br> (its free!)
                    </div>
                    <div class="col">
                        Create and manage alerts for lululemon products that drop in price or come back in stock
                    </div>
                    <div class="col">
                        Sit back, get notified, and enjoy your new gear! </br> </br> (still free. if you really love us, you can donate to lulualerts.)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container rounded py-4">
    <div class="row">
        <div class="col">
            <h2 style="color:#661FFF;">Our products</h2>
        </div>
    </div>
    <div class="row">
        <div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="row d-flex justify-content-center">
                        <div class="col-10 col-md-5">
                            <img src="{% static 'lulu_alerts/backinstock.png' %}" class="img-fluid" alt="On sale">
                        </div>
                        <div class="col-10 col-md-5">
                            <div class="caro-text">
                                <span style="font-weight:bold;">Back in Stock Alerts</span></br>
                                Is your favorite top in <i>that</i> color always out of stock? Get notified as soon it gets re-stocked, then head to lululemon to get it while its hot!
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row d-flex justify-content-center">
                        <!-- <div class="col-1 col-md-1"></div> -->
                        <div class="col-10 col-md-5">
                            <img src="{% static 'lulu_alerts/pricedrop.png' %}" class="img-fluid" alt="On sale">
                        </div>
                        <div class="col-10 col-md-5">
                            <div class="caro-text">
                                <span style="font-weight:bold;">Price Drop Alerts</span></br>
                                Have your eye on something but can't justify the price? Get alerted as soon as it goes on sale in the size and color you want.
                            </div>
                        </div>
                        <!-- <div class="col-1 col-md-1"></div> -->
                    </div>
                </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
    </div>
</div>
<div style="background-color:#FFAD05;">
    <div class="container p-4 mt-5 rounded">
        <div class="row justify-content-center text-center">
            <div class="col">
                <a href="{% url 'lulu_alerts:signup' %}" class='btn btn-primary'>OK i'm in. Sign me up!</a>
            </div>
        </div>
    </div>
</div>
<!-- end test
<div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-inner">
    <div class="carousel-item active">
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col-1"></div>
                <div class="col-5">
                    <img src="{% static 'lulu_alerts/backinstock.png' %}" class="img-fluid" alt="On sale">
                </div>
                <div class="col-5">
                    <div class="caro-text">
                        Is your favorite top in <i>that</i> color always out of stock? Get notified as soon as an item gets re-stocked.
                    </div>
                </div>
                <div class="col-1"></div>
            </div>
        </div>
    </div>
    <div class="carousel-item">
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col-1"></div>
                <div class="col-5">
                    <img src="{% static 'lulu_alerts/pricedrop.png' %}" class="img-fluid" alt="On sale">
                </div>
                <div class="col-5">
                    <div class="caro-text">
                        Have your eye on something but just can't justify the price? Get alerted when the item goes on sale.
                    </div>
                </div>
                <div class="col-1"></div>
            </div>
        </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div> -->
{% endblock %}

