{% extends "lulu_alerts/layout.html" %}
{% block nav_item_home %} active {% endblock nav_item_home %}
{% load static %}

{% block body %}
<div class="position-relative overflow-hidden p-md-5 m-md-3 text-center rounded">
            <h1><b>Checking lululemon.com again?</b></h1>
            <h3>Stop refreshing and start scoring lulu with <b> back in stock </b> and <b>price drop </b> notifications delivered to your inbox as soon as they happen with <b style="color:rgb(238,50,189);">lulu alerts</b></h3>
            <div class="d-grid gap-2 col-5 mx-auto pt-3"> <!--d grid makes them above eachother-->
                <a href="{% url 'lulu_alerts:signup' %}" class='btn btn-primary'>Sign up FREE!</a><a href="{% url 'lulu_alerts:login' %}" class ='btn btn-outline-primary'>Login</a>
            </div>
        </div>
<div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <div class="carousel-inner">
    <div class="carousel-item active">
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col-1"></div>
                <div class="col-5">
                    <img src="{% static 'lulu_alerts/sale.png' %}" class="img-fluid" alt="On sale">
                </div>
                <div class="col-5">
                    <div class="caro-text">
                        Is your favorite top in <i>that</i> color always out of stock? Get notified as soon as an item gets re-stocked.
                    <p class="pt-2"><a href="{% url 'lulu_alerts:products' %}" class="btn btn-primary">Show me</a></p>
                    </div>
                </div>
                <div class="col-1"></div>
            </div>
        </div>
    </div>
    <div class="carousel-item">
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col-1"></div>
                <div class="col-5">
                    <img src="{% static 'lulu_alerts/cart.png' %}" class="img-fluid" alt="On sale">
                </div>
                <div class="col-5">
                    <div class="caro-text">
                        Have your eye on something but just can't justify the price? Get alerted when the item goes on sale.
                    <p class="pt-2"><a href="#" class="btn btn-primary">Show me</a></p>
                    </div>
                </div>
                <div class="col-1"></div>
            </div>
        </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
{% endblock %}


<!-- 
        <div class="container rounded carousel-container pt-1">
            <div id="carouselExampleControls" class="carousel slide bg-carousel" data-bs-ride="carousel">
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
                <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="card my-3 border-0 mx-auto">
                        <div class="row g-0">    
                            <div class="col-sm-4">
                                <img src="images/cart.png" class="img-fluid position-absolute top-50 start-3 translate-middle-y" style="width:400px;" alt="...">
                            </div>
                            <div class="col-sm-8">
                                <div class="card-body">
                                    <h5 class="card-title">Back in stock</h5>
                                    <p class="card-text">Is your favorite top in <i>that</i> color always out of stock? Get notified as soon as an item gets re-stocked.</p>
                                    <a href="#" class="btn btn-primary">Show me</a>
                                </div>
                            </div>                    
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card my-3 border-0 mx-auto" style="max-width: 540px;">
                        <div class="row g-0">    
                            <div class="col-sm-4">
                                <img src="images/sale.png" class="img-fluid position-absolute top-50 start-0 translate-middle-y alt="...">
                            </div>
                            <div class="col-sm-8">
                                <div class="card-body">
                                    <h5 class="card-title">Price drop</h5>
                                    <p class="card-text">Have your eye on something but just can't justify the price? Get alerted when the item goes on sale.</p>
                                    <a href="#" class="btn btn-primary">Show me</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span>
                    <img src="images/arrow-left.png"/>
                </span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </body>
</html>
-->      