{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>LuluAlerts</title>
        <meta name=”viewport” content=”width-device-width, initial-scale=1.0”>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{% static 'lulu_alerts/variables.css' %}">
        <link rel="shortcut icon" type="image/png" href="{% static 'lulu_alerts/favicon.ico' %}"/>   
      </head>
    <body>
        <nav class="navbar navbar-expand-md"> <!-- old: style="background-color: rgb(255,199,115);-->
            <!-- Navbar content -->
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'lulu_alerts:index' %}"><b>lulu alerts</b></a> <!-- old style tag: style="color:rgb(238,50,189);-->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                      <li class="nav-item">
                        <a class="nav-link {% block nav_item_home %}{% endblock nav_item_home %}" href="{% url 'lulu_alerts:index' %}">Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link {% block nav_item_products %}{% endblock nav_item_products %}" href="{% url 'lulu_alerts:products' %}">Products</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link {% block nav_item_login %}{% endblock nav_item_login %}" href="{% url 'lulu_alerts:login' %}">Login</a>
                      </li>
                      <li class="nav-item"> 
                        <a class="nav-link {% block nav_item_signup %}{% endblock nav_item_signup %}" href="{% url 'lulu_alerts:signup' %}">Sign up</a>
                      </li>
                    </ul>
                  </div>
                </div>
        </nav>
        {% block body %}
        {% endblock %}
    </body>
</html>