{% extends "lulu_alerts/layout.html" %}
{% block nav_item_login %} active {% endblock nav_item_login %}

{% block body %}
  <div class="container my-4">
    <div class="mx-5 px-5">
      {% if message %}
      <div class="alert alert-primary" role="alert"> {{ message }} </div>
      {% endif %}
      <h4 style="text-align:center;"> Login to your account </h4>
      <div class="row justify-content-center">
        <div class="col col-9">
          <form class="border px-4 py-3 my-3 rounded bg-light" action ="{% url 'lulu_alerts:login' %}" method="POST">
              {% csrf_token %}
              <div class="row justify-content-center">
                <div class="mb-3 mx-3 col">
                  <label for="exampleInputUsername1" class="form-label">Username</label>
                  <input type="text" class="form-control" name="username" id="exampleInputUsername1">
                </div>
              </div>
              <div class="row justify-content-center">
                <div class="mb-3 mx-3 col">
                  <label for="exampleInputPassword1" class="form-label">Password</label>
                  <input type="password" class="form-control" name="password" id="exampleInputPassword1">
                </div>
              </div>
            <!-- <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Remember me</label>
              </div> -->
              <input type="submit" class="btn btn-primary mt-3 mx-3 px-3" value="login">
            </form>
            <div class="px-4">Don't have an account yet?  <a href="{% url 'lulu_alerts:signup' %}">Sign up here.</a></div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}