{% extends "lulu_alerts/layout_loggedin.html" %}
{% block nav_item_myalerts %} active {% endblock nav_item_myalerts %}

{% block body %}
<div class="container">
<h1> My alerts </h1>
<div class="btn-group d-md-flex justify-content-md-end" role="group" aria-label="Button group with nested dropdown">
    <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        New alert
        </button>
        <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
            <!--https://stackoverflow.com/questions/4591525/is-it-possible-to-pass-query-parameters-via-djangos-url-template-tag --> 
            <li><a class="dropdown-item" href="{% url 'lulu_alerts:newalert' alert_type='price_drop' %}">Price drop</a></li>
            <li><a class="dropdown-item" href="{% url 'lulu_alerts:newalert' alert_type='back_in_stock' %}">Back in stock</a></li>
        </ul>
    </div>
</div>
<div class="container my-3 bg-light">
<table class="table">
{% if alerts|length > 0 %}
<!-- can see the empty condition at 1:36 ish -->
    <tr>
        <th>Name</th>
        <th>Alert type</th>
        <th>Date set</th>
        <th>Status</th>
    </tr>
    {% for alert in alerts %}
    <tr>
        <td>{{alert.product}}</td>
        {% if alert.alert_type == "price_drop" %}
        <td>Price drop</td>
        {% else %}
        <td>Back in stock</td>
        {% endif %}
        <td>{{alert.date_set}}</td>
        <td>{{alert.status.status}}</td>
        <!--
        <td> {{alert}} </td>
        -->
    </tr>
    {% endfor %}
    {% else %}
    <tbody style="color: rgb(211, 211, 211);">
    <tr>
        <th> Alerts </th>
    </tr>
    <tr>
        <td style="font-style:italic;">No alerts</td>
    </tr>
    </tbody>
    {% endif %}
</table>
</div>
</div>
{% endblock %}