{% extends "lulu_alerts/layout.html" %}

{% block body %}
<div class="container">
<h1> My alerts </h1>
<div class="btn-group d-md-flex justify-content-md-end" role="group" aria-label="Button group with nested dropdown">
    <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        New alert
        </button>
        <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
            <li><a class="dropdown-item" href="#">Price drop</a></li>
            <li><a class="dropdown-item" href="#">Back in stock</a></li>
        </ul>
    </div>
</div>
<div class="container my-3 bg-light">
<table class="table">
{% if alerts|length > 0 %}
    <tr>
        <th>Name</th>
        <th>Alert type</th>
        <th>Date set</th>
        <th>Status</th>
    </tr>
    {% for alert in alerts %}
    <tr>
        <td>{{alert.name}}</td>
        <td>{{alert.type}}</td>
        <td>{{alert.dateset}}</td>
        <td>{{alert.status}}</td>
    </tr>
    {% endfor %}
    {% else %}
    <tbody style="color: rgb(211, 211, 211);">
    <tr>
        <th> Alerts </th>
    </tr>
    <tr>
        <td style="font-style:italic;">No alerts</td>
    </tr>
    </tbody>
    {% endif %}
</table>
</div>
</div>
{% endblock %}