{% extends "lulu_alerts/layout_m_newalert.html" %}
{% load static %}
{% block nav_item_myalerts %} active {% endblock nav_item_myalerts %}
{% block menu_item_confirm_details %} sidebar-menu-item-selected {% endblock menu_item_confirm_details %}

{% block body %}
<div class="col">
    <div class="product-details-page">
        <h1 style="font-weight:bold;">
            New 
            {% if alert_type == 'price_drop' %} 
            price drop
            {% else %}
            back in stock
            {% endif %}
            alert</h1>
        <div class="product-details-rectangle py-3 mb-3 rounded">
            <div class="container align-self-center">
                <div class="row">
                    <div style="font-weight:bold; margin-left:1%;" class="pb-3">
                        CONFIRM PRODUCT DETAILS
                    </div>
                </div>
                <div class="row">
                    <div class=col>
                        <table class="table">
                            <!-- <div style="font-weight:bold; margin-left:1%;" class="pb-3">
                                CONFIRM PRODUCT DETAILS
                            </div> -->
                            <tbody>
                                <tr>
                                    <th> Name </th>
                                    {% if not product.name %}
                                    <td style="color:red;">missing product name</td>
                                    {% else %}
                                    <td> {{product.name}} </td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    <th> Color </th>
                                    {% if not product.color %}
                                    <td style="color:red;">missing color</td>
                                    {% else %}
                                    <td> {{product.color}} </td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    <th> Size </th>
                                    {% if not product.size %}
                                    <td style="color:red;">missing size</td>
                                    {% else %}
                                    <td> {{product.size}} </td>
                                    {% endif %}
                                </tr>
                                {% if product.length %}
                                <tr>
                                    <th> Length </th>
                                    <td> "27 </td>
                                </tr>
                                {% endif %}
                                <tr>
                                    <th> Price </th>
                                    {% if not product.price %}
                                    <td style="color:red;">missing price</td>
                                    {% else %}
                                    <td> ${{product.price}} {{product.currency}} </td>
                                    {% endif %}
                                </tr>
                                {% if alert_type == 'back_in_stock' %}
                                    <th> Stock </th>
                                    {% if product.in_stock == False %}
                                    <td> Out of stock </td>
                                    {% else %}
                                    <td> In stock</td>      
                                    {% endif %}                            
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                    <div class="col-4">
                        {% if photo != None %}
                        <img src={{photo}} alt="lululemon product" class="img-fluid rounded">
                        {% else %}
                        <img src="{% static 'lulu_alerts/lululogo.png' %}" alt="lululemon product" class="img-fluid bg-light">
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% if not product.price or not product.name or not product.color or not product.size %}
        <div class="alert alert-warning mx-3" role="alert">You may have forgotten to select a color, size or other product attribute. Re-visit your <a href="{{product.url}}" target=”_blank”>lululemon.com product page</a>, make updates to your selections, then click "Change product link" to provide the updated URL</div>
        <div class="text-center">
            <a type=button class="btn btn-outline-primary" href="{% url 'lulu_alerts:newalertv2' alert_type=alert_type %}">Change product link</a>
        </div>
        {% elif alert_type == 'back_in_stock' and product.in_stock == True %}
        <div class="alert alert-warning mx-3" role="alert">Looks like this product is in stock! If you meant to set a price drop alert, <a href="{% url 'lulu_alerts:newalertv2' alert_type='price_drop' %}">click here</a> </div>
        <div class="text-center">
            <a type=button class="btn btn-outline-primary" href="{% url 'lulu_alerts:newalertv2' alert_type=alert_type %}">Change product link</a>
        </div>
        {% else %}
        <div class="text-center" id="product-detail-buttons">
            <a type=button class="btn btn-outline-primary" href="{% url 'lulu_alerts:newalertv2' alert_type=alert_type %}">Change product link</a>
            <a type=button class="btn btn-primary" id="product-is-good-button">Looks good!</a>
        </div>
        {% endif %}
        <div style="display:none;" id="alert-settings-div">
            <form action="{% url 'lulu_alerts:newalert_confirmproduct' %}" id="new_alert" method="POST">
                {% csrf_token %}
                <div class="product-details-rectangle py-3 px-2 mb-3 rounded">
                    <div class="container align-self-center">
                        <table class="table" style="border-color:white;">
                            <div class="row">
                                <div class="col">
                                <div style="font-weight:bold; margin-left:1%;" class="pb-3">
                                    ALERT SETTINGS
                                </div>
                                <tbody>
                                    {% if alert_type == 'price_drop' %}
                                    <tr>       
                                        <th>
                                            Alert type
                                        </th>
                                        <td>
                                            Price drop
                                        </td>
                                    </tr>
                                    <tr>
                                            <th>
                                                <label for="target_price">Alert when price drops</label>
                                            </th>
                                            <td> 
                                                <input type="radio" name="target_price" value="current_price" id="current_price" onclick="requirecustom()" required>
                                                <label for="current_price"> below ${{product.price}} {{product.currency}} </label></br>
                                                <input type="radio" name="target_price" value="customize_price" id="customize_price" onclick="requirecustom()">
                                                <label for="customize_price">enter a custom price: </label>
                                                <label for="custom_price" style="margin-left:1%;">$</label>
                                                <input type="number" step="0.01" display="none" name="target_price_custom" id="custom_price" placeholder="{{product.price}}" style="width:15%;" max="{{product.price}}">
                                                <label for="custom_price">{{product.currency}}</label>
                                            </td>
                                    </tr>    
                                    {% else %}
                                    <tr> 
                                        <th>
                                            Alert type
                                        </th>
                                        <td>
                                            Back in stock
                                        </td>
                                    </tr>    
                                        {% endif %}
                                    <tr>
                                        <th><label for="method">Send to</label></th>
                                        <td>
                                            <select name="email" id="method">
                                                <option>my email</option>
                                            </select>
                                        </td>
                                    </tr>                               
                                </tbody>
                            </div>
                            </div>
                        </table>
                    </div>
                </div>
                <div class="text-center">
                    <a type=button class="btn btn-outline-primary" href="{% url 'lulu_alerts:newalertv2' alert_type=alert_type %}">Change product link</a>
                    <input type="hidden" name="url" value= "{{product.url}}">
                    <input type="hidden" name="product_name" value="{{product.name}}">
                    <input type="hidden" name="color" value="{{product.color}}">
                    <input type="hidden" name="size" value="{{product.size}}">
                    <input type="hidden" name="price" value="{{product.price}}">
                    <input type="hidden" name="currency" value="{{product.currency}}">
                    <input type=submit class="btn btn-primary" value="Create alert">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}