{% extends "lulu_alerts/layout.html" %}

{% block body %}
<div class="container">
    {% if alert_type == "price_drop" %}
        <h1> Create new alert </h1>
        <form action="{% url 'lulu_alerts:newalert' alert_type='price_drop' %}" method="POST">
            {% csrf_token %}
            {{ form }}
            <input type = "submit">
        </form>
    {% elif alert_type == "back_in_stock" %}
        <div>its in stock</div>
        <div class="container">
        <h1> New {{alert_type}} alert </h1>
        <form>
            <h1> price droppin baby!</h1> 
        </form>
        </div>
    {% elif alert_type == "price_drop" %}
        <div> price dropping </div>
    {% else %}
        <div>errorrrrr</div>
    {% endif %}
</div>
{% endblock %}