{% extends "lulu_alerts/layout_m_newalert.html" %}
{% block nav_item_myalerts %} active {% endblock nav_item_myalerts %}
{% block menu_item_choose_product %} sidebar-menu-item-selected {% endblock menu_item_choose_product %}


{% block body %}    
<div class="col">
    <div class="new-alert-page">
        <h1 style="font-weight:bold;">My {% if alert_type == 'price_drop' %} price drop {% else %} back in stock {% endif %} alert</h1>
        <div class="rectangle">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-auto">
                        <div class="new-alert-modal align-self-center p-4" id="newalertmodal">
                            <div class="container">
                                <div class="row">
                                    <div class="col-auto">
                                        <div style="font-weight:bold; font-size: xx-large;"> New alert </div>
                                    </div>
                                    <div class="col align-self-center">
                                        <span class="badge badge-pill">  {% if alert_type == 'price_drop' %} price drop {% else %} back in stock {% endif %} </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col mt-3 mb-3 no-spinner">
                                        <div class="d-flex flex-wrap align-items-center"> <span class="align-text-middle">Paste your <a href="http://www.lululemon.com" target=”_blank”>lululemon.com</a> product link</span></div>
                                        <form method="POST" id = "product_url" action="{% url 'lulu_alerts:newalertv2' alert_type=alert_type %}">
                                            {% csrf_token %}
                                            {% for field in product_form %}
                                            <!-- accessing form fields: https://docs.djangoproject.com/en/dev/topics/forms/ -->
                                                {{ field }}
                                            <span style="font-size:small;">{{ field.help_text }}</span>
                                            {% endfor %}
                                            <br>
                                            <div class="justify-contents-right">
                                                <a type=button class="mt-3 btn btn-outline-primary" href="{% url 'lulu_alerts:myalerts' %}">Cancel</a>
                                                <input id="url_submit" type="submit" class="mt-3 btn btn-primary" value="Create">
                                            </div>
                                        </form>
                                    </div>
                                    <div id ="loading" style="display:none;" class="col mt-4 mb-5 py-4 yes-spinner justify-content-center">
                                        <div class="spinner-border text-info" role="status">
                                            <span class="visually-hidden">Loading...</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>  
                </div>
                {% if error %}
                <div class="row pt-3">
                    <div class="col">
                        <div class="alert alert-warning mx-3" role="alert">
                            {{error}}
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}