{% extends "lulu_alerts/layout_loggedin.html" %}

{% block body %}
<style>
    #loading {
        visibility: hidden;
    }
</style>
<div class="container">
    {% if alert_type == "price_drop" %}
        <div> New price drop alert </div>
        <div>
            <h4>1. Provide lululemon product URL</h4>
            <div class= "container border rounded px-3 py-3 my-2" >
                <div class="row">
                    <form autofocus id = "product_url" action="{% url 'lulu_alerts:newalert' alert_type='price_drop' %}" method="POST" class="col">
                        {% csrf_token %}
                        {{ product_form }}
                        <input type = "submit">
                    </form>
                    <div id ="loading" class="col">
                        <div class="spinner-border" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </div>
            </div>
            {% if product %}
                <h4>2. Confirm product details </h4>
                <div id="product-details" class="container border rounded px-3 py-3 my-2">
                    <table>
                        <tbody>
                            <tr>
                                <th data-att = "product">Product</th>
                                {% if not product.name %}
                                    <td style="color:red;">missing product name</td>
                                {% else %}
                                    <td data-att = "product">{{product.name}}</td>
                                {% endif %}
                            </tr>
                            </tr>
                                <th data-att="color">Color</th>
                                {% if not product.color %}
                                    <td style="color:red;">missing color</td>
                                {% else %}
                                    <td data-att="color">{{product.color}}</td>
                                {% endif %}
                            </tr>
                            <tr>
                                <th data-att="size">Size</th>
                                {% if not product.size %}
                                    <td style="color:red;">missing size</td>
                                {% else %}
                                    <td data-att="size">{{product.size}}</td> 
                                {% endif %}
                            </tr>
                            <tr>
                                <th data-att="price">Price</th>
                                {% if not product.price %}
                                    <td style="color:red;"> missing price - make sure size & color are selected</td>
                                {% else %}
                                    <td data-att="price">${{product.price}} {{product.currency}}</td>
                                {% endif %}
                            </tr>
                        </tbody>
                    </table>
                </div>
                {% if not product.price or not product.size or not product.color or not product.name %}
                    <div class="alert alert-warning" role="alert">You may have forgotten to select a color, size or other attribute. <a href="{{product.url}}">Visit your product page</a>, check your selections, then provide an updated URL</div>
                {% else %}
                    <h4>3. Set alert </h4>
                    <div id="product-details" class="container border rounded px-3 py-3 my-2">
                        <form id = "alert_config" action="{% url 'lulu_alerts:newalert' alert_type='price_drop' %}" method="POST">
                            {% csrf_token %}
                            <label for="target_price" style="font-weight:bold;">Alert when price drops</label><br>
                            <input type="radio" name="target_price" value="current_price">
                            <label for="current_price">below ${{product.price}} {{product.currency}}</label><br>
                            <input type="radio" name="target_price" value="customize_price">
                                <label for="customize_price"> enter a custom price </label>
                                    <label for="custom_price">$</label>
                                        <input type="number" step="0.01" display="none" name="target_price_custom" id="custom_price" placeholder="{{product.price}}">
                                        <label for="custom_price">{{product.currency}}</label><br><br>
                            <label for="method">Send to:</label>
                            <select name="email" id="method">
                                <option>my email</option>
                            </select><br><br>
                            <input type="hidden" name="url" value= {{product.url}} > 
                            <input type="submit">
                        </form>
                    </div>
                {% endif %}
                </div>
            {% endif %}
        <!-- <div style="text-align:center;"> <h4>OR</h4></div>
        <div class="border rounded px-2 py-2 my-4">
            <h3>Search for product</h3>
            <form action="{% url 'lulu_alerts:newalert' alert_type='price_drop' %}" method="POST">
                {% csrf_token %}
                {{ form }}
                <input type = "submit">
            </form>
        </div> -->
    {% elif alert_type == "back_in_stock" %}
        <div>its in stock</div>
        <div class="container">
        <h1> New {{alert_type}} alert </h1>
        <form>
            <h1> price droppin baby!</h1> 
        </form>
        </div>
    {% else %}
        <div>ERROR</div>
    {% endif %}
</div>
{% endblock %}