{% extends "lulu_alerts/layout.html" %}
{% block nav_item_signup %} active {% endblock nav_item_signup %}

{% block body %}
<div class="container my-4">
  <div class="row justify-content-center">
      {% if message %}
      <div class="col-11">
        <div class="alert alert-warning" role="alert">{{ message }}</div>
      </div>
      {% endif %}
      <div class="col-11 col-md-10 col-lg-8 signuplogin">
        <h1> Sign up </h1>
          <form class="border px-4 py-3 my-3 rounded bg-light" method="post">
            <div class="row justify-content-center">
              {% csrf_token %}
              <form action="{% url 'lulu_alerts:myalerts'}" method="post"> 
              {% for fields in form %}
                <div class="mb-3 px-4 col-12">
                  <div class="form-label">
                  {{ fields.label }}
                  </div>
                  {{ fields }}
                  <div class="form-text text-muted">
                  {{ fields.help_text }}
                  </div>
                </div>
              {% endfor %}
                <div class="mt-2 mx-3 px-4 col-12">
                  <input type="submit" class="btn btn-primary" value="Sign up">
                </div>
              </form>
            </div> 
        </form>
    </div>
  </div>
</div>
{% endblock %}