.link, a {
  color: #834AFF;
  font-weight: bold;
  text-decoration: none;
}

.link:hover, a:hover {
  color: #A074FE;
  text-decoration: none;
}

.btn-outline-primary, a.btn-outline-primary, .btn-primary, a.btn-primary {
  --bs-btn-font-weight: 600;
  --bs-btn-border-radius: .5rem;
  --bs-btn-hover-border-color: var(--bs-btn-hover-bg);
  --bs-btn-padding-x: 10px;
  --bs-btn-padding-y: 7px;
  line-height: 1.5;
  border-radius: 8px;
}

.btn-primary, a.btn-primary {
  --bs-btn-bg: #661FFF;
  --bs-btn-border-color: var(--bs-btn-bg);
  --bs-btn-color:white;
  --bs-btn-hover-bg: #834AFF;
  --bs-btn-hover-color: white;
  --bs-btn-hover-border-color: var(--bs-btn-hover-bg);
  --bs-btn-active-bg: var(--bs-btn-hover-bg);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-border-color:var(--bs-btn-active-bg);
  --bs-btn-focus-bg:var(--bs-btn-hover-bg);
  --bs-btn-focus-color:var(--bs-btn-hover-color);
  --bs-btn-focus-shadow-rgb: 87, 9, 255;
  --bs-btn-focus-border-color:var(--bs-btn-focus-shadow-rgb);
  --bs-btn-disabled-bg: #CCCCCC;
  --bs-btn-disabled-color: #909090;
  --bs-btn-disabled-border-color: #CCCCCC;
}

.btn-outline-primary, a.btn-outline-primary {
  --bs-btn-bg: white;
  --bs-btn-border-color: #A074FE;
  --bs-btn-color:#661FFF;
  --bs-btn-hover-bg:#D5C9E7;
  --bs-btn-hover-color:#661FFF;
  --bs-btn-hover-border-color:dope-purple-3;
  --bs-btn-focus-bg:var(--bs-btn-hover-bg);
  --bs-btn-focus-color:var(--bs-btn-hover-color);
  --bs-btn-focus-shadow-rgb: 87, 9, 255;
  --bs-btn-focus-border-color:var(--bs-btn-focus-shadow-rgb);
  --bs-btn-active-bg:var(--bs-btn-hover-bg);
  --bs-btn-active-color:var(--bs-btn-hover-color);
  --bs-btn-active-border-color:var(--bs-btn-focus-shadow-rgb);
}

.dropdown-item:active {
  background-color: #A074FE;
}

.badge {
  background: #A074FE;
  color: white;
  font-size: small;
  text-align: right;
}

.alert-warning, .alert-primary {
  --bs-alert-bg: #D5C9E7;
  --bs-alert-border-color: #4101CB;
  --bs-alert-color: #661FFF;
}

.pagination {
  --bs-pagination-color: #5709FF;
  --bs-pagination-bg: white;
  --bs-pagination-active-color: white;
  --bs-pagination-active-bg: #5709FF;
  --bs-pagination-hover-color:#661FFF;
  --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(87, 9, 255, 0.25);
  font-weight: 100;
  --bs-pagination-active-border-color:#5709FF;
  --bs-pagination-focus-color:#834AFF;
}

.navbar {
  padding-left: 10px;
  background: white;
}

.navbar-brand {
  color: #661FFF;
}

.navbar-brand:hover, .navbar-brand:active {
  color: #834AFF;
}

.carousel-control-prev, .carousel-control-next {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.caro-text {
  font-size: 110%;
}

/* layout_newalertv2, newalert_confirmproduct, newalert_v2 styles */
.sidebar-menu {
  font-family: var(--bs-body-font-family);
  font-size: 16px;
  line-height: 30px;
  opacity: 1;
  padding: 16px NaNpx;
  justify-content: left;
  color: #565e6c;
  background: transparent;
  border-radius: 4px;
  gap: 8px;
  white-space: nowrap;
}

/* Sidebar menu 20 - Item */
.sidebar-menu-item, .sidebar-menu-item-selected {
  padding: 16px NaNpx;
  justify-content: left;
  color: #565e6c;
  background: transparent;
  gap: 8px;
  white-space: nowrap;
}

/* Sidebar menu 20 - Selected item */
.sidebar-menu-item-selected {
  font-weight: bold;
  position: relative;
}

/* Sidebar menu 20 - Icon */
.sidebar-menu-icon {
  width: 40px;
  height: 30px;
  padding-right: 10px;
  fill: currentColor;
}

.new-alert-page-background {
  background: #f9f9fa;
  font-family: var(--bs-body-font-family);
  color: #bcc1ca;
}

.new-alert-page-background .d-none {
  background: white;
  height: 100vh;
}

.rectangle {
  height: 70vh;
  background: #f8f9fa;
  border-radius: 6px;
  border-width: 3px;
  border-color: #dee1e6;
  border-style: dashed;
  justify-content: center;
  align-items: center;
  display: flex;
}

.new-alert-modal {
  background: white;
  border-radius: 6px;
  box-shadow: 0px 4px 9px #dee1e6, 0px 0px 2px #dee1e6;
  color: #171a1f;
  vertical-align: middle;
}

.new-alert-modal h2 {
  font-weight: bold;
  font-size: xx-large;
  margin-bottom: 0;
}

.new-alert-modal form span {
  font-size: small;
}

.product-details-page {
  color: var(--bs-body-color);
}

.product-details-rectangle {
  background: white;
  border-style: solid;
  border-color: #dee1e6;
  display: flex;
  border-width: 1px;
}

.new-alert-page h1, .product-details-page h1, .myalertspage h1 {
  font-weight: bold;
}

#loading {
  display: none;
}

.missing {
  color: red;
}

.product-details-rectangle .table {
  border-color: white;
}

.product-details-rectangle h2, .product-details-rectangle h3 {
  font-weight: bold;
  margin-left: 1%;
  font-size: 16px;
  margin-bottom: 0;
  line-height: 24px;
}

#custom_price {
  width: 20%;
}

/* home page */
.index-banner h1 {
  color: #661FFF;
  font-weight: bold;
  font-size: calc(2rem + 0.9vw);
}

.index-banner h2 {
  font-size: 27px;
  line-height: 32px;
  font-size: calc(1.2rem + 0.9vw);
}

#homepageinfo h2 {
  color: white;
}

#homepageproducts h2 {
  color: #661FFF;
}

.caro-text span {
  font-weight: bold;
}

#homepagebottomcta {
  background-color: #FFAD05;
}

#heroimage {
  overflow-x: hidden;
}

#heroimage image {
  max-width: 102%;
  margin: left -1% right -1%;
}

#homepageinfobackground {
  background-color: #661FFF;
  margin-top: -1%;
}

#homepageinfo {
  opacity: 0;
}

#homepageinfo img {
  height: auto;
  max-width: 30%;
}

/* Signup & Login */
.signuplogin h1 {
  text-align: center;
  font-size: 27px;
  line-height: 32px;
}

/* myalerts */
.myalertspage div[class=row] {
  padding-bottom: 30px;
}

.breadcrumbnav {
  position: relative;
}

.breadcrumbnav span {
  color: rgba(0, 0, 0, 0.55);
  position: absolute;
  bottom: 0;
  left: 1;
}

/*# sourceMappingURL=variables.css.map */
