// to apply changes, run sass variables.scss:variables.css -- have to be IN static/lulu_alerts

// custom theme colors
$c-orange: rgb(255,199,115);
$c-l-purple: rgb(254,212,252);
$c-yellow: rgb(255,212,82);
$c-d-purple: rgb(148,110,220);
$c-blue: rgb(111,150,255);
$c-hot-pink: rgb(238,50,189);
$c-lp-1: rgb(255,249,232);
$c-blue-cadet: #3B3561;

// buttons

%def-button {
  --bs-btn-font-weight: 600;  
  --bs-btn-border-radius: .5rem;
  --bs-btn-hover-border-color: var(--bs-btn-hover-bg);
  --bs-btn-padding-x: 10px;
  --bs-btn-padding-y: 7px;
}

.btn-primary {
    @extend %def-button;
    --bs-btn-font-weight: 600;  
    --bs-btn-border-radius: .5rem;
    background: $c-d-purple;
    --bs-btn-border-color: var(--background);
    --bs-btn-hover-bg:rgb(238,50,189);
    --bs-btn-hover-color: black;
    --bs-btn-active-bg:rgb(238,50,189);
    --bs-btn-active-border-color:rgb(254,212,252);
    --bs-btn-active-color: white;
  }

.btn-outline-primary{
  @extend %def-button;
  --bs-btn-font-weight: 600;
  --bs-btn-border-radius: .5rem;
  --bs-btn-bg: white;
  //background: linear-gradient(to right,rgb(238,50,189),rgb(254,212,252)); :( WHY DOESNT IT WORK
  --bs-btn-border-color: rgb(148,110,220);
  --bs-btn-color:rgb(148,110,220);
  --bs-btn-hover-bg:rgb(254,212,252);
  --bs-btn-hover-color: rgb(238,50,189);
}


.navbar {
  padding-left: 10px;
  border: $c-hot-pink
  //background: rgba(254,212,252, 0.5);
}

.navbar-brand{
  color:$c-hot-pink;
}


.carousel-control-prev, .carousel-control-next {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.caro-text{
  font-size:110%;
}

.position-relative{
  background-color: rgb(235, 235, 235,.6);
}

.link{
  color: $c-blue;
  font-weight: bold;
  text-decoration: none;
}

.link:hover{
  color: $c-hot-pink;
  text-decoration:none;
}