// to apply changes, run sass variables.scss:variables.css -- have to be IN static/lulu_alerts

// Global Styles
// Color Variables
  $dope-purple-lt: #D5C9E7;
  $dope-purple-0:#A074FE;
  $dope-purple-1:#834AFF;
  $dope-purple: #661FFF; // primary
  $dope-purple-2:#5709FF;
  $dope-purple-3:#4101CB;
  $outline-grey: #C2C2C2;
  $grey-0: #CCCCCC;
  $grey-1: #909090;
  $c-blue: rgb(111,150,255);


// Primary Button - Enabled state
  $btn-background-variable-primary-enabled: #{$dope-purple};
  $btn-color-variable-primary-enabled:white;
// Primary Button - Disabled state
  $btn-background-variable-primary-disabled: #{$grey-0};
  $btn-color-variable-primary-disabled: #{$grey-1};
  $btn-border-color-variable-primary-disabled:#{$grey-0};
// Primary Button - Hover,Active, Focus state
  $btn-background-variable-primary-hover: #{$dope-purple-1};
  $btn-color-variable-primary-hover:white;


// Outlined Button - Enabled state
  $btn-background-variable-outlined-enabled: white;
  $btn-border-color-variable-outlined-enabled: #{$dope-purple-0};
  $btn-color-variable-outlined-enabled: #{$dope-purple};
// Outlined Button - Disabled state
  $btn-background-variable-outlined-disabled:white;
  $btn-border-color-variable-outlined-disabled: #{$outline-grey};
  $btn-color-variable-outlined-disabled: #{$outline-grey};
// Outlined Button - Hover, Active, Focus states
  $btn-background-variable-outlined-hover: #{$dope-purple-lt};
  $btn-border-color-variable-outlined-hover: #{dope-purple-3};
  $btn-color-variable-outlined-hover: #{$dope-purple};

// links
  .link, a{
    color: #{$dope-purple-1};
    font-weight: bold;
    text-decoration: none;
  }
  
  .link:hover, a:hover{
    color: #{$dope-purple-0};
    text-decoration:none;
  }


// buttons
%def-button {
  --bs-btn-font-weight: 600;  
  --bs-btn-border-radius: .5rem;
  --bs-btn-hover-border-color: var(--bs-btn-hover-bg);
  --bs-btn-padding-x: 10px;
  --bs-btn-padding-y: 7px;
  line-height: 1.5;
  border-radius: 8px;
}

.btn-primary, a.btn-primary {
    @extend %def-button;
    --bs-btn-bg: #{$btn-background-variable-primary-enabled};
    --bs-btn-border-color: var(--bs-btn-bg);
    --bs-btn-color:#{$btn-color-variable-primary-enabled};

    --bs-btn-hover-bg: #{$btn-background-variable-primary-hover};
    --bs-btn-hover-color: #{$btn-color-variable-primary-hover};
    --bs-btn-hover-border-color: var(--bs-btn-hover-bg);

    --bs-btn-active-bg: var(--bs-btn-hover-bg);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-border-color:var(--bs-btn-active-bg);

    --bs-btn-focus-bg:var(--bs-btn-hover-bg);
    --bs-btn-focus-color:var(--bs-btn-hover-color);
    --bs-btn-focus-shadow-rgb: 87, 9, 255;
    --bs-btn-focus-border-color:var(--bs-btn-focus-shadow-rgb);

    --bs-btn-disabled-bg: #{$btn-background-variable-primary-disabled};
    --bs-btn-disabled-color: #{$btn-color-variable-primary-disabled};
    --bs-btn-disabled-border-color: #{$btn-border-color-variable-primary-disabled};
  }

.btn-outline-primary, a.btn-outline-primary {
  @extend %def-button;
  --bs-btn-bg: #{$btn-background-variable-outlined-enabled};
  --bs-btn-border-color: #{$btn-border-color-variable-outlined-enabled};
  --bs-btn-color:#{$btn-color-variable-outlined-enabled};

  --bs-btn-hover-bg:#{$btn-background-variable-outlined-hover};
  --bs-btn-hover-color:#{$btn-color-variable-outlined-hover};
  --bs-btn-hover-border-color:#{$btn-border-color-variable-outlined-hover};

  --bs-btn-focus-bg:var(--bs-btn-hover-bg);
  --bs-btn-focus-color:var(--bs-btn-hover-color);
  --bs-btn-focus-shadow-rgb: 87, 9, 255;
  --bs-btn-focus-border-color:var(--bs-btn-focus-shadow-rgb);

  --bs-btn-active-bg:var(--bs-btn-hover-bg);
  --bs-btn-active-color:var(--bs-btn-hover-color);
  --bs-btn-active-border-color:var(--bs-btn-focus-shadow-rgb);
}

.dropdown-item:active {
  background-color:#{$dope-purple-0};
}

.badge {
  background:#{$dope-purple-0};
  color:white;
  font-size:small;
  text-align: right;
}

.alert-warning, .alert-primary {
  --bs-alert-bg: #{$dope-purple-lt};
  --bs-alert-border-color: #{$dope-purple-3};
  --bs-alert-color: #{$dope-purple};
}


// pagination
.pagination{
  --bs-pagination-color: #{$dope-purple-2};
  --bs-pagination-bg: white;
  --bs-pagination-active-color: white;
  --bs-pagination-active-bg: #{$dope-purple-2};
  // --bs-pagination-focus-color: black;
  --bs-pagination-hover-color:#{$dope-purple};
  --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(87, 9, 255, 0.25);
  font-weight:100;
  --bs-pagination-active-border-color:#{$dope-purple-2};
  --bs-pagination-focus-color:#{$dope-purple-1};
}

.navbar {
  padding-left: 10px;
  background: white;
}

.navbar-brand{
  color:#{$dope-purple};
}

.navbar-brand:hover, .navbar-brand:active{
  color:#{$dope-purple-1};
}

.carousel-control-prev, .carousel-control-next {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.caro-text{
  font-size:110%;
}


/* layout_newalertv2, newalert_confirmproduct, newalert_v2 styles */
.sidebar-menu {
  font-family: (var(--bs-body-font-family));
  font-size: 16px;
  line-height: 30px;
  opacity: 1;
  padding: 16px NaNpx;
  justify-content: left;
  color: #565E6CFF;
  background: transparent;
  border-radius: 4px;
  gap: 8px;
  white-space: nowrap;
}
/* Sidebar menu 20 - Item */
.sidebar-menu-item {
  padding: 16px NaNpx;
  justify-content: left;
  color: #565E6CFF;
  background: transparent;
  gap: 8px;
  white-space: nowrap;
}

/* Sidebar menu 20 - Selected item */
.sidebar-menu-item-selected {
  @extend .sidebar-menu-item;
  font-weight: bold;
  position: relative;
}

/* Sidebar menu 20 - Icon */
.sidebar-menu-icon {
  width: 40px;
  height: 30px;
  padding-right:10px;
  fill: currentColor;
}

.new-alert-page-background {
  background: #F9F9FAFF;
  font-family:var(--bs-body-font-family);
  color: #BCC1CAFF;
}

.new-alert-page-background .d-none {
  background: white;
  height: 100vh;
}

.rectangle {
  height: 70vh;
  background: #F8F9FAFF;
  border-radius: 6px;
  border-width: 3px;
  border-color: #DEE1E6FF;
  border-style: dashed;
  justify-content: center;
  align-items:center;
  display: flex;
}

.new-alert-modal {
  background:white;
  border-radius: 6px;
  box-shadow: 0px 4px 9px #DEE1E6FF, 0px 0px 2px #DEE1E6FF;
  color:#171A1FFF;
  vertical-align: middle;
}

.new-alert-modal h2 {
  font-weight:bold; 
  font-size: xx-large; 
  margin-bottom:0;
}

.new-alert-modal form span {
  font-size:small;
}

.product-details-page {
  color: var(--bs-body-color);
}

.product-details-rectangle {
  background: white;
  border-style:solid;
  border-color: #DEE1E6FF;
  display: flex;
  border-width: 1px;
}

.new-alert-page h1, .product-details-page h1, .myalertspage h1 {
  font-weight: bold;
}

#loading {
  display:none;
}

.missing {
  color:red;
}

.product-details-rectangle .table {
  border-color:white;
}

.product-details-rectangle h2, .product-details-rectangle h3 {
  font-weight:bold;
  margin-left:1%;
  font-size: 16px;
  margin-bottom:0;
  line-height:24px;
} 

#custom_price {
  width:20%;
}

/* home page */
.index-banner h1 {
  color: #{$dope-purple};
  font-weight:bold;
}

.index-banner h2 {
  font-size:27px;
  line-height:32px;
}

#homepageinfo h2 {
  color:white;
}

#homepageproducts h2 {
  color:#{$dope-purple};
}

.caro-text span {
  font-weight:bold;
}

#homepagebottomcta {
  background-color:#FFAD05;
}

#heroimage {
  overflow-x:hidden;
}

#heroimage image {
  max-width: 102%;
  margin: left -1% right -1%;
}

#homepageinfobackground {
  background-color:#661FFF; 
  margin-top:-1%;
}

#homepageinfo {
  opacity:0;
}

#homepageinfo img {
  height:auto; 
  max-width:30%;
}


/* Signup & Login */ 
.signuplogin h1 {
  text-align:center;
  font-size:27px;
  line-height:32px;
}

/* myalerts */
.myalertspage div[class="row"] {
  padding-bottom:30px;
}

.breadcrumbnav {
  position:relative;
}

.breadcrumbnav span {
  color: rgba(0, 0, 0, 0.55);
  position: absolute;
  bottom: 0; 
  left: 1;
}
